<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Translator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
      <!-- Input with placeholder -->
      <ion-input [(ngModel)]="myinput" placeholder="Text for translation ... "></ion-input>
      <ion-button (click)="btnTranslateClicked()" expand="block">Translate</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
      {{ myinput }} <ion-icon name="arrow-forward-outline"></ion-icon> {{ myoutput }} 
    </ion-card-content>
    </ion-card>
  </ion-content>